svg 
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    body
    {
      background-color:  #737373;
    }
    h1
    {
      text-align: center;
      color: white;
    }
    .axis path,.axis line
    {
       fill: #ffc266;
       stroke: #b36b00;
    }